In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans

In [2]:
X = pd.read_csv('../data/out/task1_3_2.csv', encoding='gbk')
X = X[['性别', '超市消费总额', '食堂消费总额', '当月用卡总次数', '常去消费地点']]

In [3]:
X

      性别  超市消费总额  食堂消费总额  当月用卡总次数  常去消费地点
0      0     0.0   161.6     34.0       4
1      0    29.4    97.4     47.0       1
2      0    42.0   530.0     99.0       5
3      0    18.2   166.9     35.0       5
4      0     4.0    81.7     22.0       5
...   ..     ...     ...      ...     ...
3192   0     0.0    41.0      3.0       3
3193   1    21.2   179.4     50.0       5
3194   1    44.5   333.0     72.0       5
3195   1    37.2   259.5     55.0       3
3196   1    14.5   187.0     85.0       5

[3197 rows x 5 columns]

In [4]:
scaler = MinMaxScaler()
scaler.fit(X)
X_scaled = scaler.transform(X)
X_scaled

array([[0.        , 0.        , 0.20184861, 0.10429448, 0.8       ],
       [0.        , 0.08162132, 0.12165876, 0.14417178, 0.2       ],
       [0.        , 0.11660189, 0.6620035 , 0.30368098, 1.        ],
       ...,
       [1.        , 0.12354248, 0.41593805, 0.2208589 , 1.        ],
       [1.        , 0.10327596, 0.3241319 , 0.16871166, 0.6       ],
       [1.        , 0.04025541, 0.23357482, 0.2607362 , 1.        ]])

In [7]:
kmeans = KMeans(n_clusters=4)
kmeans.fit(X_scaled)
print("Cluster memberships:\n{}".format(kmeans.labels_))
kmeans.cluster_centers_

Cluster memberships:
[0 2 0 ... 3 1 3]

TypeError: type numpy.ndarray doesn't define __round__ method